.geolink {
    display: flex;
    flex-direction: row;
}

.geolink__barra {
    /*flex: 20;*/
}

.geolin__grafico {
    /*flex: 80;*/
}

@media only screen and (min-width: 780px) {
    .geolink {
        display: flex;
        flex-direction: column;
    }
    .geolink__barra {
        flex: 1;
    }
    .geolin__grafico {
        flex: 1;
    }
}