.geolink {
    display: flex;
    flex-direction: row;
}

.geolink__barra {
    display: flex;
    flex-basis: 200px;
}

.geolin__grafico {
    display: flex;
    flex: 1;
}

@media only screen and (min-width: 780px) {
    .geolink {
        display: flex;
        flex-direction: column;
    }
    .geolink__barra {
        flex: 1;
    }
    .geolin__grafico {
        flex: 1;
    }
}